* {
    margin: 0;
    padding: 0;
}


/* smartphone*/

ul {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 411px;
    height: 60px;
    left: 0px;
    top: 24px;
    background: #E0E0E0;
}

/* Ellipse 13 */
.logo img {
    position: absolute;
    width: 30px;
    height: 27.63px;
    left: 22px;
    top: 15px;
    list-style-type: none;

    border: 2px solid #333333;
}