.e13_63 { 
	background-color:rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
	width:411px;
	height:60px;
	position:absolute;
}
.e5_2 { 
	width:30px;
	height:27.631580352783203px;
	position:absolute;
	left:22px;
	top:15px;
}
.e5_0 { 
	border:2px solid rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
}
.e5_0 { 
	width:30px;
	height:27.631580352783203px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_3 { 
	width:24px;
	height:24px;
	position:absolute;
	left:369px;
	top:18px;
}
.e5_4 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_5 { 
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:18px;
	height:12px;
	position:absolute;
	left:3px;
	top:6px;
}
.e5_6 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:18px;
	height:2px;
	position:absolute;
	left:0px;
	top:10px;
}
.e5_7 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:18px;
	height:2px;
	position:absolute;
	left:0px;
	top:5px;
}
.e5_8 { 
	background-color:rgba(218.00000220537186, 218.00000220537186, 218.00000220537186, 1);
	width:18px;
	height:2px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_9 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:411px;
	height:43px;
	position:absolute;
	left:0px;
	top:9px;
	font-family:Lato;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
